.image-container {
  @apply absolute;
  @apply h-full;
  @apply w-full;
}

.image-container > .gatsby-image-wrapper {
  @apply h-full;
  @apply w-full;
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
